In [29]:
import pandas as pd
import numpy as np
import json
from slugify import slugify

In [30]:
# plaques de cuisson
l = 59/100
h = 4.5/100
p = 60/100

volume_plaque_cuisson = l*p*h

print(f"volume plaques de cuisson : {round(volume_plaque_cuisson,2)} m3")

#-------------------------------------

#canape angle 3 places
    #2places
l1 = ((240/3)*2)/100
h1 = 95/100
p1 = 105/100


    #meridienne + 3 ème place
l2 = (240/3)/100
h2 = 95/100
p2 = 166/100

volume_meridienne = (l2*h2*p2)
print(f"volume meridienne : {round(volume_meridienne,2)} m3")


volume_canape_angle = (l1*h1*p1) + (l2*h2*p2)
print(f"volume canape 3 places + meridienne : {round(volume_canape_angle,2)} m3")


#-------------------------------------


#canape droit
l3 = 240/100
h3 = 95/100
p3 = 105/100

volume_canape_droit_3_places = (l3*h3*p3)

une_place = volume_canape_droit_3_places/3
print(f"volume canape 1 place : {round(une_place,2)} m3")


#-------------------------------------


#pouf
l4 = 85/100
h4 = 42/100
p4 = 80/100

volume_pouf = (l4*h4*p4)

print(f"volume pouf : {round(volume_pouf,2)} m3")


#-------------------------------------


#armoire 1 porte
l5 = 79.4/100
h5 = 170.4/100
p5 = 35.7/100

volume_armoire_2_portes = (l5*h5*p5)
volume_armoire_1_porte = ((l5/2)*h5*p5)

print(f"volume armoire 1 porte : {round(volume_armoire_1_porte,2)} m3")
print(f"volume armoire 2 portes : {round(volume_armoire_2_portes,2)} m3")


#-------------------------------------


#table 2 personnes
l6 = 80/100
h6 = 73/100
p6 = 70/100

#table 4 personnes
l7 = 150/100
h7 = 77/100
p7 = 80/100

volume_table_2_personnes = (l6*h6*p6)
volume_table_4_personnes = (l7*h7*p7)

print(f"volume table 2 personnes : {round(volume_table_2_personnes,2)} m3")
print(f"volume table 4 personnes : {round(volume_table_4_personnes,2)} m3")

#test calcul
print(f"volume table 6 personnes : {round(((volume_table_4_personnes/2)*3),2)} m3")

volume plaques de cuisson : 0.02 m3
volume meridienne : 1.26 m3
volume canape 3 places + meridienne : 2.86 m3
volume canape 1 place : 0.8 m3
volume pouf : 0.29 m3
volume armoire 1 porte : 0.24 m3
volume armoire 2 portes : 0.48 m3
volume table 2 personnes : 0.41 m3
volume table 4 personnes : 0.92 m3
volume table 6 personnes : 1.39 m3

In [40]:
data = {'article': ['placard',
                 'chaise' ,
                 'table de cuisine',
                 'four micro-ondes',
                 'four seul',
                 'plaques de cuisson',
                 'chaise haute',
                 'réfrigérateur',
                 'frigo américain',
                 'congélateur',
                 'cuisinière',
                 'lave-vaisselle',
                 'téléviseur',
                 'meuble tele / hi-fi',
                 'canape droit 1 place',
                 'canape angle + meridienne / 3 places',
                 'meridienne seule',
                 'pouf',
                 'fauteuil',
                 'table basse',
                 'bibliothèque',
                 'commode 6 tiroirs',
                 'armoire 1 porte',
                 'lampe sur pied / luminaire',
                 'piano',
                 'table 2 personnes',
                 'table 4 personnes',
                 'buffet',
                 'lit 1 place',
                 'lit 2 places',
                 'matelas 1 place',
                 'matelas 2 places 140*200',
                 'table de chevet',
                 'lit superposé',
                 'banc - coffre de lit',
                 'secrétaire - coiffeuse',
                 'lampe de chevet',
                 'lave-linge',
                 'etagere murale',
                 'bureau',
                 'fauteuil bureau',
                 'ordianteur',
                 'bibliothèque',
                 'table de jardin',
                 'chaise de jardin',
                 'parasol',   
                 'barbecue plié', 
                 'barbecue non pliable',
                 'table de ping pong',
                 'balançoire démontée'],
        
        'volume (m3)': [0.5,
                        0.2,
                        0.7,
                        0.5,
                        0.7,
                        0.02,
                        0.3,
                        1.5,
                        2,
                        1,
                        0.5,
                        0.5,
                        0.3,
                        0.5,
                        0.8,
                        2.9,
                        1.26,
                        0.3,
                        0.6,
                        0.3,
                        1.5,
                        1.2,
                        0.24,
                        0.25,
                        2.30,
                        0.41,
                        1.4,
                        2,   
                        1,
                        2,
                        0.6,
                        0.7,
                        0.25,
                        2,
                        0.2,
                        1,
                        0.13,
                        0.5,
                        0.8,
                        1.2,
                        0.6,
                        0.1,
                        1.5,
                        0.8,
                        0.25,
                        0.15,
                        0.24,
                        0.68,
                        2,
                        1.10]}

In [41]:
df = pd.DataFrame(data=data)
#df.reset_index(drop = True)
#df = df.sort_values(by=['item'], ascending=True).reset_index(drop=True)
df

                                 article  volume (m3)
0                                placard         0.50
1                                 chaise         0.20
2                       table de cuisine         0.70
3                       four micro-ondes         0.50
4                              four seul         0.70
5                     plaques de cuisson         0.02
6                           chaise haute         0.30
7                          réfrigérateur         1.50
8                        frigo américain         2.00
9                            congélateur         1.00
10                            cuisinière         0.50
11                        lave-vaisselle         0.50
12                            téléviseur         0.30
13                   meuble tele / hi-fi         0.50
14                  canape droit 1 place         0.80
15  canape angle + meridienne / 3 places         2.90
16                      meridienne seule         1.26
17                                  pouf         0.30
18                              fauteuil         0.60
19                           table basse         0.30
20                          bibliothèque         1.50
21                     commode 6 tiroirs         1.20
22                       armoire 1 porte         0.24
23            lampe sur pied / luminaire         0.25
24                                 piano         2.30
25                     table 2 personnes         0.41
26                     table 4 personnes         1.40
27                                buffet         2.00
28                           lit 1 place         1.00
29                          lit 2 places         2.00
30                       matelas 1 place         0.60
31              matelas 2 places 140*200         0.70
32                       table de chevet         0.25
33                         lit superposé         2.00
34                  banc - coffre de lit         0.20
35                secrétaire - coiffeuse         1.00
36                       lampe de chevet         0.13
37                            lave-linge         0.50
38                        etagere murale         0.80
39                                bureau         1.20
40                       fauteuil bureau         0.60
41                            ordianteur         0.10
42                          bibliothèque         1.50
43                       table de jardin         0.80
44                      chaise de jardin         0.25
45                               parasol         0.15
46                         barbecue plié         0.24
47                  barbecue non pliable         0.68
48                    table de ping pong         2.00
49                   balançoire démontée         1.10

In [33]:
#transfer pandas to csv
#df.to_csv('items.csv', encoding='utf-8')

In [34]:
#transfer pandas to json
#df.to_json('items.json', orient="records")

JSON ITEMS AVEC PIECES

In [42]:
df_items = df.copy()
# create a list of our conditions
conditions = [(df_items.index <= 11), #cuisine
              (df_items.index > 11) & (df_items.index <= 24), #salon
              (df_items.index > 24) & (df_items.index <= 27), #sam
              (df_items.index > 27) & (df_items.index <= 36), #chambre
              (df_items.index > 36) & (df_items.index <= 42), #bureau
              (df_items.index > 42) & (df_items.index <= 49), #divers-jardin

            ]


# create a list of the values we want to assign for each condition
values = ['cuisine', 'salon', 'salle à manger', 'chambre','bureau', 'divers-jardin']

# create a new column and use np.select to assign values to it using our lists as arguments
df_items['pièce'] = np.select(conditions, values)

#sort value
#df_items = df_items.sort_values(by=['item'], ascending=True).reset_index(drop=True)

In [43]:
df_items.head()

            article  volume (m3)    pièce
0           placard          0.5  cuisine
1            chaise          0.2  cuisine
2  table de cuisine          0.7  cuisine
3  four micro-ondes          0.5  cuisine
4         four seul          0.7  cuisine

RAJOUT DE LA COLONNE SLUG au DF

In [44]:
def slugify_column_value(value):
    return slugify(value)

df_items['slugArticle'] = df['article'].apply(slugify_column_value)


df_items.head()

            article  volume (m3)    pièce       slugArticle
0           placard          0.5  cuisine           placard
1            chaise          0.2  cuisine            chaise
2  table de cuisine          0.7  cuisine  table-de-cuisine
3  four micro-ondes          0.5  cuisine  four-micro-ondes
4         four seul          0.7  cuisine         four-seul

EXPORT CSV-JSON

In [38]:
#export csv
df_items.to_csv('articlesEtSlugs.csv', encoding='utf-8')

#export json
#df_items.to_json('items.json', orient="records")

In [39]:
chemin = "C:/Users/cathe/OneDrive/Documents/Persos_notebooks_github/Wild-Data-Engineer-2022-2023/TitreCDA_WCS2023/TitreCDAdonnées/articlesEtSlugs.csv"

PIECES

In [16]:
pieces_lower = ['cuisine', 'salon', 'salle à manger', 'chambre','bureau', 'divers jardin']

In [17]:
pieces = []

for p in pieces_lower :
    pieces.append(p.capitalize())

pieces

['Cuisine', 'Salon', 'Salle à manger', 'Chambre', 'Bureau', 'Divers jardin']

SLUG PIECES

In [13]:
slug = []
for i in pieces :
    slug.append(slugify(i))

slug

['cuisine', 'salon', 'salle-a-manger', 'chambre', 'bureau', 'divers-jardin']

CREATION DU DF PIECES

In [18]:
df_pièces = pd.DataFrame(list(zip(pieces,slug)),
                         columns=['pieces', 'slug'])

In [19]:
df_pièces

           pieces            slug
0         Cuisine         cuisine
1           Salon           salon
2  Salle à manger  salle-a-manger
3         Chambre         chambre
4          Bureau          bureau
5   Divers jardin   divers-jardin

EXPORT JSON

In [35]:
df_pièces.to_json('pieces.json', orient="records")

CHEMIN D'ACCES

In [ ]:
chemin_df_items = "C:/Users/cathe/Documents/Code/Code 2022-2023/Wild-Data-Engineer-2022-2023/Titre CDA v2/items.json"
chemin_df_pieces = "C:/Users/cathe/Documents/Code/Code 2022-2023/Wild-Data-Engineer-2022-2023/Titre CDA v2/pieces.json"